/**********************
HEADER 
**********************/

#wrapper {
	font-family: Arial;
}

header {
	width: 100%;
	display: inline-block;
	background-color: #d02f05;
	z-index: 1000;
}

#logoImg {
	float:left;
}

#logoImg img {
	margin: 0px 20px;
	height: 50px;
	width: auto;
}

#search {
	display: inline-block;
	position: relative;
	margin: 10.5px 0px;
	width: 40%;	
	float: left;
}

#searchForm {
	display: inline-block;
	width: 100%;
}

#arrowLeft {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 10px solid white;
	position: relative;
	top: 50%;
	left: 0;
	transform: rotate(360deg) translateY(-200%) translateX(-70%);
	
	float:left;
}

#searchBar {
	display: inline-block;
	background-color: white;
}

#searchBar {
	width:90%;
	border-radius: 5px;
}

#searchBar input {
	width: 90%;
	height: 100%;
	padding:7px;
	border:none;
	border-right: 1px solid grey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}		

#searchBar input:focus {
	outline-width: 0;
}

#searchButton {
	display: inline-block;
	width: 8%;
	text-align:center;
}

#searchButton a {
	width:100%;
}

span.icons {
    font-size: 1.3em;
    color: white;
}

span.textContent {
    font-size: 1.2em;
	color:white;
	margin:5px;
}

span.glyphicon-chevron-down {
	color:white;
}

#myAccount, #myFavorites, #myCart {
	position: relative;
	margin-top: 12px;
	margin-right: 10px;
	float:left;
}

#myAccount a:hover, #myFavorites a:hover, #myCart a:hover {
	text-decoration: none;
}

/**********************
MAIN 
**********************/
main {
	margin-top: 100px;
	margin-bottom: 250px;
}

#prodCont h2 {
	font-size: 1.2em;
	width: 50%;
	margin: auto;
	padding: 10px;
	color: white;
	background: #2E221F;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


#container {
	width: 70%;
	margin: auto;
	text-align: center;
	padding-top:150px;
}

#container h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

#containerInfo {
	padding: 30px;
}

#button {
	background-color: #285f8f;
	border-radius: 10px;
	padding: 0.5em;
	color: white;
	margin-bottom: 2em;
}

/**********************
FOOTER 
**********************/

footer {
	border-top: 1px solid grey;
	margin-top: 150px;
	padding: 1em;
	display: inline-block;
	width: 100%;
	background: white;
}

footer h2 {
	color: grey;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

footer p {
	color: grey;
	font-size: 0.9em;
}

footer img {
	width: 50px;
	height: 50px;
	float: left;
}

footer>div div {
	width: 25%;
	float: left;
}

.boxesFooter {
	width: 75%;
	margin-bottom: 1em;
}

#more {
	width: 60%;
	float: left;
}

#more>div {
	width: 100%;
}

#more a {
	display: inline-block;
	float: left;
	width: 25%;
	text-decoration: underline;
	color: #333;
	margin-bottom: 20px;
}

#more a:last-child {
	width: 50%;
}

#cr {
	float: right;
	text-align:right;
	color: grey;
}

#cr p {
	margin-bottom: 0.5em;
}







#productsHolder {
	width: 80%;
	margin: auto;
	padding: 20px;
	background:#2E221F;
	color: #2E221F;
	border-radius: 10px;
	border-bottom: 2px solid #d02f05;
	border-top: 2px solid #d02f05;
}

#productsHolder>div {
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	border-radius: 30px;
	position: relative;
	border: 1px solid #d02f05;
	background: white;
	margin: 5px 0;
}

#productsHolder>div>div {
	float: left;
}

.prodImgCont {
	cursor: pointer;
}

.prodImgCont>img {
	width: 150px;
}


.prodInfoCont {
	padding: 10px 30px;
	width: 75%;
}

.prodInfoCont>div:first-child {
	display: inline-block;
	margin-bottom: 50px;
	padding: 8px;
	background: #d02f05;
	color: white;
	border-radius: 10px;
}

.prodInfoCont>div:first-child sup {
	font-size: 90%;
}

.prodBtnCont {
	min-height: 140px;
	display: inline-flex;
	align-items: center;
}

.prodBtnCont>span img {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}


.prodBtnCont>span:nth-child(2) {
	cursor: pointer;
	padding: 10px 20px;
	background: #d02f05;
	color: white;
	border-radius: 10px;
}


.prodBtnCont>span:last-child:hover {
	background: #2E221F;
	color: #d02f05;
}


#buyAll {
	width: 50%;
	padding: 15px 5px;
	text-align: center;
	margin: auto;
	background: #2E221F;
	color: white;
	cursor: pointer;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#buyAll span span {
	background: #d02f05;
	padding: 8px;
	border-radius: 10px;
}

#buyAll span span span:first-child {
	padding: 0;
}

#buyAll sup {
	font-size: 90%;
}