body {
	font-family: Arial;
	background-color: #f7f7f7;
}

/**********************
HEADER
**********************/

#logo, main {
	text-align: center;
}

/**********************
MAIN
**********************/

#loginForm {
	display: inline-block;
	background-color: white;
	border-radius: 8px;
	padding: 2em;
	width: 25%;
}

#loginForm h2 {
	color: #999999;
	font-size: 2.2em;
	margin-bottom: 1em;
}

#loginForm label {
	display: block;
	margin-bottom: 1em;
}

#loginForm input[type="email"], #buttonSubmit {
	width:90%;
	height: 2.5em;
	font-size: 1.1em;
	margin-bottom: 1em;
	border-radius: 5px;
	padding: 0 8px;
	box-sizing: border-box;
}

#loginForm input[type="email"]:focus {
	outline-width: 0;
}

#buttonSubmit {
	color: white;
	background-color: #0068b5;
}

#help {
	padding:1em 2em;
}

#fbAndGm p {
	color:#ababab;
	margin-bottom: 0.6em;
}

#buttons {
	padding: 13px;
}

#fbButton {
	float:left;
	background-color: #295396;
}

#gmailButton {
	float:right;
	background-color: #d44534;
}

#fbButton, #gmailButton {
	display: inline-block;
	width: 47%;
	box-sizing: border-box;
	border-radius: 10px;
	margin-top: 10px;
}

#fbButton a, #gmailButton a {
	text-decoration: none;
	width:100%;
}

.siteName {
	color:white;
	font-size:1.1em;
	line-height: 3.2em;
	font-weight: bold;
}

.siteLogo img{
	width:50px; 
	height:50px;
	float: left;
}


/**********************
FOOTER
**********************/

footer {
	text-align: center;
}

footer a {
	text-decoration: none;
}

#footerHelp {
	margin-top: 10px;
	margin-bottom: 10px;
}

#footerHelp a{
	color: #0069b5;
}

#references a{
	color: #575757;
}