/*Нека почнем за телефон първо*/

/*************************
GENERAL
*************************/
body {
	font-family: sans-serif;
	font-size: 0.8em;
	background-color:rgba(46, 34, 31, 0.3);
}

a {
	text-decoration: none;
}

#wrapper {
	position: relative;
}

#fixedNav {
	position: fixed;
	height: 80px;
	width: 1170px;
	background: #D02F05;
	top: 0px;
}

#toHome {
	cursor: pointer;
	display: inline-block;
	border-radius: 10px;
	position: fixed;
	bottom: -40px;
	left: 0;
	padding: 10px 15px;
	background: #D02F05;
	transition: bottom 1s;
}

#toHome img {
	width: 20px;
	float: left;
}

#toHome	> span > span {
	display: block;
	float: left;
	position: relative;
	transform: translateY(20%);
	margin-left: 10px;
}


/*************************
HEADER
*************************/
header {
	background: #D02F05;
	margin: 20px 0;
	border-radius: 15px;
	padding-bottom: 10px;
}

#logo {
	display: inline-block;
	width: 100%;
}

#logoAndSearch {
	display:inline-block; 
	width: 100%;
}


#logoImg {
	display: inline-block;
	float: left;
}

#homePage {
	display: inline-block;
	width: 30%;
}

#homePage a {
	float: left;
	margin: 0 0 15px 15px;
	color: white;
	background: #2E221F;
	padding: 8px 2px;
	border-radius: 8px;
	text-decoration: none;
}


#homePage a:hover {
	color: #2E221F;
	background: white;
	text-decoration: none;
}

#homePage a span {
	font-size: 0.7em;
	margin-right: 5px;
}


header nav {
	text-align: center;
}

header nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header nav ul li {
	margin: 5px;
}

header nav ul li a {
	text-decoration: none;
	display: inline-block; 
	width: 95%;
	color: white;
	background: #2E221F;
	padding: 8px 2.5%;
	border-radius: 8px;
	height: 15px;
}

header nav ul li a span {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

header nav ul li a:hover {
	text-decoration: none;
	color: #2E221F;
	background: white;
}

#search {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(150%);
	margin-left: 40px;
}

#searchForm {
	width: 500px;
}

#arrowLeft {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 10px solid white;
	position: relative;
	top: 50%;
	left: 0;
	transform: translateY(70%);
	float:left;
}

#searchBar {
	display: inline-block;
	background-color: white;
}

#searchBar {
	width:90%;
	border-radius: 5px;
}

#searchBar input {
	width: 90%;
	height: 100%;
	padding:7px;
	border:none;
	border-right: 1px solid grey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}		

#searchBar input:focus {
	outline-width: 0;
}

#searchButton {
	display: inline-block;
	width: 8%;
	text-align:center;
}

#searchButton a {
	width:100%;
}

span.icons {
    font-size: 1.3em;
    color: white;
}

span.textContent {
    font-size: 1.2em;
	color:white;
	margin:5px;
}

span.glyphicon-chevron-down {
	color:white;
}

#myAccount, #myFavorites, #myCart {
	display: inline-block;
	float:right;
	padding: 10px 20px;
}

/*************************
MAIN
*************************/

main {
	background: white;
	box-sizing: border-box;
	padding: 10px;
	display: inline-block;
	width: 100%;
}


/*************************
ASIDE
*************************/


main aside {
	padding: 8px 0px;
	width: 20%;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 10px;
	display: none;
}

main aside ul li {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	
}

main aside li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color:#2E221F;
	padding: 8px 0px;
	text-decoration: none;
}

main aside li:hover, aside li a:hover {
	background-color: #D02F05;
	color: white;
	text-decoration: none;
}


main section {
	border: 1px solid black;
	height: 1500px;
	width: 100%;
}
