/*Нека почнем за телефон първо*/

/*************************
GENERAL
*************************/




body {
	font-family: sans-serif;
	font-size: 0.8em;
	background-color:rgba(46, 34, 31, 0.3);
}

a, a:hover {
	text-decoration: none;
}




#wrapper {
	position: relative;
}

#fixedNav {
	position: fixed;
	height: 80px;
	width: 1170px;
	background: #D02F05;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	z-index: 100;
	top: 0px;
}

#toHome {
	cursor: pointer;
	display: inline-block;
	border-radius: 10px;
	position: fixed;
	bottom: -40px;
	left: 0;
	padding: 10px 15px;
	background: #D02F05;
	transition: bottom 1s;
}

#toHome img {
	width: 20px;
	float: left;
}

#toHome	> span > span {
	display: block;
	float: left;
	position: relative;
	transform: translateY(20%);
	margin-left: 10px;
}


/*************************
HEADER
*************************/


header {
	background: #D02F05;
	margin-bottom: 20px;
	border-radius: 15px;
	padding-bottom: 10px;
}

#logo {
	display: inline-block;
	width: 100%;
}

#logoAndSearch {
	display:inline-block; 
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}


#logoImg {
	display: inline-block;
	width: 100%;
}

#myBar {
	display: flex;
	justify-content: space-around;
}

.textContent {
	display: none;
}


header nav {
	text-align: center;
	z-index: 110;
}

header nav ul li>span {
	box-sizing: content-box;
}

header nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header nav ul li {
	margin: 5px;
	cursor: pointer;
}

header nav ul li>span {
	text-decoration: none;
	display: inline-block; 
	width: 95%;
	color: white;
	background: #2E221F;
	padding: 8px 2.5%;
	border-radius: 8px;
	height: 15px;
}

header nav ul li span span {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

header nav ul li>span:hover {
	text-decoration: none;
	color: #2E221F;
	background: white;
}

.navClickedOn {
	color: #2E221F;
	background: white;
}

#search {
	display: inline-block;
	position: relative;
	margin-left: 40px;
}

#searchForm {
	display: inline-block;
	width: 250px;	
}

#arrowLeft {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 10px solid white;
	position: relative;
	top: 50%;
	left: 0;
	transform: rotate(90deg) translateY(-200%) translateX(-70%);
	
	float:left;
}

#searchBar {
	display: inline-block;
	background-color: white;
}

#searchBar {
	width:90%;
	border-radius: 5px;
}

#searchBar input {
	width: 90%;
	height: 100%;
	padding:7px;
	border:none;
	border-right: 1px solid grey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}		

#searchBar input:focus {
	outline-width: 0;
}

#searchButton {
	display: inline-block;
	width: 8%;
	text-align:center;
}

#searchButton a {
	width:100%;
}

span.icons {
    font-size: 1.3em;
    color: white;
}

span.textContent {
    font-size: 1.2em;
	color:white;
	margin:5px;
}

span.glyphicon-chevron-down {
	color:white;
}

#myAccount, #myFavorites, #myCart {
	display: inline-block;
	float:right;
	padding: 10px 20px;
}

#myAccount a:hover, #myFavorites a:hover, #myCart a:hover {
	text-decoration: none;
}

/*************************
Carousel
*************************/

#caroContainer {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	border-radius: 15px;
	display: none;
	overflow: hidden;
}


#caroContainer img {
	width: 100%;
	height: 100%;
	max-height: 300px;
}

/*************************
MAIN
*************************/

main {
	background: white;
	box-sizing: border-box;
	padding: 10px;
	display: inline-block;
	width: 100%;
	border-radius: 15px;
	margin-bottom: 20px;
}


/*************************
ASIDE
*************************/


main aside {
	padding: 8px 0px;
	width: 230px;
	box-sizing: border-box;
	border-radius: 10px;
	background: #D02F05;
	top: 100px;
	display: none;
}

#sideMenu li>span span:first-child {
	display: inline-block;
	width: 85%;
}

#sideMenu li>span span:last-child img {
	visibility: hidden;
	width: 8px;
}

main aside nav ul li {
	background: #2E221F;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	
	cursor: pointer;
}

main aside nav li>span {
	display: inline-block;
	width: 100%;
	height: 100%;
	color:#2E221F;
	padding: 18px 0px;
	text-decoration: none;
	color: white;
}

main aside nav li:hover, aside li a:hover {
	background-color: #D02F05;
	color: white;
	text-decoration: none;
}


main section {
	width: 100%;
}



#productsContainer {
	display: inline-block;
	width: 100%;
}
.productSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.productWrap, .fillSpace {
	width: 160px;
	margin: 10px 0;
	padding: 8px 0;
	background: #D02F05;
	color: white;
	border-radius: 15px;
}

.productImg {
	border: 2px solid #D02F05;
	border-radius: 15px;
	padding: 5px;
	background: white;
	height: 170px;
}

.productInfo {
	padding: 10px 5px;
	background: #2E221F;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 200px;
}

.productPrice {
	padding: 10px 5px;
	background: #2E221F;
}

.productPrice sup {
	font-size: 0.7em;
}

.productMoreInfo {
	border-top: 1px solid #D02F05;
	padding: 10px 5px;
	background: #2E221F;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-weight: bold;
	cursor: pointer;
}

.productMoreInfo:hover {
	background: #D02F05;
}

.productMoreInfo:hover>span span:first-child {
	background: #2E221F;
}

.productMoreInfo>span span:first-child {
	background: #D02F05;
	padding: 5px 10px 5px 8px;
	border-radius: 10px;
	border-bottom-right-radius: 15px;
	margin-right: 15px;
}

.fillSpace {
	visibility: hidden;
}


.seeMore {
	display: inline-block;
	width: 95%;
	text-align: center;
	color: white;
	background: #D02F05;
	padding: 10px;
	margin: auto;
	border-radius: 10px;
	cursor: pointer;
}

.seeMore:hover {
	background: #2E221F;
}
