@media screen and (min-width: 380px) { 
    /*************************
    HEADER
    *************************/

    #searchForm { 
        width: 300px;
    }

    #arrowLeft { 
        transform: rotate(90deg) translateY(-400%) translateX(-70%);
    }

    header nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header nav ul li {
        box-sizing: border-box;
        width: 45%;  
    }
    header nav ul li>span {
        height: 25px;
    }
}