@media screen and (min-width: 1170px) { 
    #wrapper {
        width: 1170px;
        margin: auto;
    }

    /*************************
    GENERAL
    *************************/


    /*************************
    HEADER
    *************************/
    nav ul li {
        font-size: 12px;
        box-sizing: border-box;
        width: 11%;
        margin: 8px 0;
    }
     nav ul li a {
        height: 35px;
    }
}