@media screen and (min-width: 480px) and (max-width: 600px){
	#dropdownMenu {
		margin-left: 0px;
		margin-right: 5em;
	}
	#logoImg img{
		width: 100px;
		height: auto;
	}
	#search {
		display: block;
		margin: 1em 2em;
		width: 90%;
	}

	span.icons {
		font-size:1em;
	}

	span.textContent {
		font-size: 0.9em;
		font-style: bold;
	}

	#myAccount, #myFavorites, #myCart {
		text-align: center;
		width: 33%;
		margin-right: 0;
		margin-bottom: 1em;
	}

	#container {
		width: 90%;
		padding-top: 2em;
	}

	#containerInfo {
		padding: 1em;
	}


	footer {
		margin-top: 2em;
	}

	footer img {
		width: 40px;
		height: 40px;
	}

	footer>div>div{
		width: 100%;
	}

	.boxesFooter {
		width: 60%;
	}

	#more {
		width: 100%;
	}
	#more>div {
		text-align: center;
	}
	#more a {
		width: 25%;
	}

	#more a:last-child {
		width: 50%;
	}

	#cr {
		text-align: right;
	}
}