@media screen and (min-width: 1170px) { 
    /*************************
    GENERAL
    *************************/

     #wrapper {
        width: 1170px;
        margin: auto;
    }

    #fixedNav {
        display: block;
    }

    #toHome {
        left: 100px;
        padding: 5px 10px;
        transition: bottom 1s;
        background: transparent;
    }      


    /*************************
    HEADER
    *************************/
    header nav {
        top: 10px;
        width: 1170px;
    }
    header nav ul li {
        font-size: 12px;
        box-sizing: border-box;
        width: 11%;
        margin: 8px 0;
    }
     header nav ul li a {
        height: 35px;
    }




    main aside {
	    display: inline-block;
    }


    main section {
        width: 78%;
        float: right;
    }


    /*************************
    Carousel
    *************************/

    #caroContainer {
        display: inline-block;
    }
}






