@media screen and (min-width: 380px) { 
    /*************************
    HEADER
    *************************/
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav ul li {
        box-sizing: border-box;
        width: 45%;  
    }
    nav ul li a {
        height: 25px;
    }
}