@media screen and (min-width: 800px) {
    /*************************
    GENERAL
    *************************/
    body {
        font-size: 0.9em;
    }
    /*************************
    HEADER
    *************************/ 
    header {
        margin: 20px 0;
    }
    #logo {
        margin-bottom: 30px;
    }

    #logoImg {
	    display: block;
        float: left;
        margin: 0 0 10px 10px;
        width: auto;
    }

    #logoImg img {
	    width: 110%;
    }

    #search {
        display: block;
        float: left;
        top: 50%;
        transform: translateY(150%);
        margin-left: 40px;
    }

    #arrowLeft {
	    transform: translateY(70%) translateX(200%);
    }

    #searchForm { 
        width: 500px;
    }

    .textContent {
	    display: inline;
    }

    header nav ul li {
        width: 20%;
    }
    header nav ul li>span {
        height: 40px;
    }
}