@media screen and (min-width: 700px) and (max-width: 1170px)  { 
    #loginForm {
        border-radius: 5px;
        padding: 5px;
        width: 40%;
    }

    #loginForm h2 {
        font-size: 2em; 
    }

    #loginForm input[type="email"], #buttonSubmit {
        height: 2.5em;
        font-size: 1em;
    }
    
    .siteName {
        font-size: 1em;
    }
}